@page "/devices"
@namespace AioCore.Web.Pages

<PageContainer Title="Danh sách thiết bị">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Trang chủ</BreadcrumbItem>
            <BreadcrumbItem>Danh sách thuê bao</BreadcrumbItem>
            <BreadcrumbItem>Danh sách thiết bị</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <div class="container">

        </div>
    </ChildContent>
</PageContainer>
<DeviceDetail/>

@code
{
}