@page "/"
@namespace AioCore.Web.Pages

<PageContainer Title="Trang chủ">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Trang chủ</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <div class="container">

        </div>
    </ChildContent>
</PageContainer>

@code
{
}